openapi: 3.1.0
info:
  title: Hardcover GraphQL API
  version: 1.0.0
  description: Comprehensive OpenAPI wrapper for the Hardcover GraphQL endpoint, generated from schema.graphql with 134 queries
    and 103 mutations.
servers:
- url: https://api.hardcover.app
security:
- bearerAuth: []
paths:
  /v1/graphql:
    post:
      summary: Execute GraphQL operations
      description: Single endpoint for all queries and mutations. See request examples for full operation catalog.
      operationId: executeGraphQL
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
              - query
              properties:
                query:
                  type: string
                  description: GraphQL query or mutation string.
                variables:
                  type: object
                  additionalProperties: true
                operationName:
                  type: string
            examples:
              query_activities:
                summary: query activities
                description: An array relationship
                value:
                  query: "query query_activities($distinct_on: [activities_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [activities_order_by!], $where: activities_bool_exp) {\n  activities(distinct_on: $distinct_on, limit:\
                    \ $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n    book_id\n\
                    \  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_activities
              query_activities_by_pk:
                summary: query activities_by_pk
                description: 'fetch data from the table: "activities" using primary key columns'
                value:
                  query: "query query_activities_by_pk($id: Int!) {\n  activities_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    book_id\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_activities_by_pk
              query_activity_feed:
                summary: query activity_feed
                description: execute function "activity_feed" which returns "activities"
                value:
                  query: "query query_activity_feed($args: activity_feed_args!, $distinct_on: [activities_select_column!],\
                    \ $limit: Int, $offset: Int, $order_by: [activities_order_by!], $where: activities_bool_exp) {\n  activity_feed(args:\
                    \ $args, distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where)\
                    \ {\n    id\n    created_at\n    book_id\n  }\n}"
                  variables:
                    args:
                      feed_limit: 1
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_activity_feed
              query_activity_foryou_feed:
                summary: query activity_foryou_feed
                description: execute function "activity_foryou_feed" which returns "activities"
                value:
                  query: "query query_activity_foryou_feed($args: activity_foryou_feed_args!, $distinct_on: [activities_select_column!],\
                    \ $limit: Int, $offset: Int, $order_by: [activities_order_by!], $where: activities_bool_exp) {\n  activity_foryou_feed(args:\
                    \ $args, distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where)\
                    \ {\n    id\n    created_at\n    book_id\n  }\n}"
                  variables:
                    args:
                      feed_limit: 1
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_activity_foryou_feed
              query_authors:
                summary: query authors
                description: 'fetch data from the table: "authors"'
                value:
                  query: "query query_authors($distinct_on: [authors_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [authors_order_by!], $where: authors_bool_exp) {\n  authors(distinct_on: $distinct_on, limit: $limit,\
                    \ offset: $offset, order_by: $order_by, where: $where) {\n    id\n    name\n    title\n  }\n}"
                  variables:
                    distinct_on:
                    - alias_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_authors
              query_authors_by_pk:
                summary: query authors_by_pk
                description: 'fetch data from the table: "authors" using primary key columns'
                value:
                  query: "query query_authors_by_pk($id: Int!) {\n  authors_by_pk(id: $id) {\n    id\n    name\n    title\n\
                    \  }\n}"
                  variables:
                    id: 1
                  operationName: query_authors_by_pk
              query_book_categories:
                summary: query book_categories
                description: 'fetch data from the table: "book_categories"'
                value:
                  query: "query query_book_categories($distinct_on: [book_categories_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [book_categories_order_by!], $where: book_categories_bool_exp) {\n  book_categories(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    name\n\
                    \  }\n}"
                  variables:
                    distinct_on:
                    - id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_book_categories
              query_book_categories_by_pk:
                summary: query book_categories_by_pk
                description: 'fetch data from the table: "book_categories" using primary key columns'
                value:
                  query: "query query_book_categories_by_pk($id: bigint!) {\n  book_categories_by_pk(id: $id) {\n    id\n\
                    \    name\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_book_categories_by_pk
              query_book_characters:
                summary: query book_characters
                description: An array relationship
                value:
                  query: "query query_book_characters($distinct_on: [book_characters_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [book_characters_order_by!], $where: book_characters_bool_exp) {\n  book_characters(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    book_id\n\
                    \    character_id\n  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_book_characters
              query_book_characters_by_pk:
                summary: query book_characters_by_pk
                description: 'fetch data from the table: "book_characters" using primary key columns'
                value:
                  query: "query query_book_characters_by_pk($id: bigint!) {\n  book_characters_by_pk(id: $id) {\n    id\n\
                    \    book_id\n    character_id\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_book_characters_by_pk
              query_book_collections:
                summary: query book_collections
                description: 'fetch data from the table: "book_collections"'
                value:
                  query: "query query_book_collections($distinct_on: [book_collections_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [book_collections_order_by!], $where: book_collections_bool_exp) {\n  book_collections(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    book_id\n\
                    \    child_book_id\n  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_book_collections
              query_book_collections_by_pk:
                summary: query book_collections_by_pk
                description: 'fetch data from the table: "book_collections" using primary key columns'
                value:
                  query: "query query_book_collections_by_pk($id: bigint!) {\n  book_collections_by_pk(id: $id) {\n    id\n\
                    \    book_id\n    child_book_id\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_book_collections_by_pk
              query_book_mappings:
                summary: query book_mappings
                description: An array relationship
                value:
                  query: "query query_book_mappings($distinct_on: [book_mappings_select_column!], $limit: Int, $offset: Int,\
                    \ $order_by: [book_mappings_order_by!], $where: book_mappings_bool_exp) {\n  book_mappings(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n\
                    \    updated_at\n  }\n}"
                  variables:
                    distinct_on:
                    - attempts
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_book_mappings
              query_book_mappings_by_pk:
                summary: query book_mappings_by_pk
                description: 'fetch data from the table: "book_mappings" using primary key columns'
                value:
                  query: "query query_book_mappings_by_pk($id: Int!) {\n  book_mappings_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    updated_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_book_mappings_by_pk
              query_book_series:
                summary: query book_series
                description: An array relationship
                value:
                  query: "query query_book_series($distinct_on: [book_series_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [book_series_order_by!], $where: book_series_bool_exp) {\n  book_series(distinct_on: $distinct_on, limit:\
                    \ $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n    updated_at\n\
                    \  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_book_series
              query_book_series_aggregate:
                summary: query book_series_aggregate
                description: An aggregate relationship
                value:
                  query: "query query_book_series_aggregate($distinct_on: [book_series_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [book_series_order_by!], $where: book_series_bool_exp) {\n  book_series_aggregate(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    aggregate {\n\
                    \    avg {\n    __typename\n  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_book_series_aggregate
              query_book_series_by_pk:
                summary: query book_series_by_pk
                description: 'fetch data from the table: "book_series" using primary key columns'
                value:
                  query: "query query_book_series_by_pk($id: bigint!) {\n  book_series_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    updated_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_book_series_by_pk
              query_book_statuses:
                summary: query book_statuses
                description: 'fetch data from the table: "book_statuses"'
                value:
                  query: "query query_book_statuses($distinct_on: [book_statuses_select_column!], $limit: Int, $offset: Int,\
                    \ $order_by: [book_statuses_order_by!], $where: book_statuses_bool_exp) {\n  book_statuses(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    name\n\
                    \  }\n}"
                  variables:
                    distinct_on:
                    - id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_book_statuses
              query_book_statuses_by_pk:
                summary: query book_statuses_by_pk
                description: 'fetch data from the table: "book_statuses" using primary key columns'
                value:
                  query: "query query_book_statuses_by_pk($id: smallint!) {\n  book_statuses_by_pk(id: $id) {\n    id\n  \
                    \  name\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_book_statuses_by_pk
              query_bookles:
                summary: query bookles
                description: 'fetch data from the table: "bookles"'
                value:
                  query: "query query_bookles($distinct_on: [bookles_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [bookles_order_by!], $where: bookles_bool_exp) {\n  bookles(distinct_on: $distinct_on, limit: $limit,\
                    \ offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n    book_id\n  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_bookles
              query_bookles_by_pk:
                summary: query bookles_by_pk
                description: 'fetch data from the table: "bookles" using primary key columns'
                value:
                  query: "query query_bookles_by_pk($id: bigint!) {\n  bookles_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    book_id\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_bookles_by_pk
              query_books:
                summary: query books
                description: An array relationship
                value:
                  query: "query query_books($distinct_on: [books_select_column!], $limit: Int, $offset: Int, $order_by: [books_order_by!],\
                    \ $where: books_bool_exp) {\n  books(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by:\
                    \ $order_by, where: $where) {\n    id\n    title\n    slug\n  }\n}"
                  variables:
                    distinct_on:
                    - activities_count
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_books
              query_books_aggregate:
                summary: query books_aggregate
                description: An aggregate relationship
                value:
                  query: "query query_books_aggregate($distinct_on: [books_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [books_order_by!], $where: books_bool_exp) {\n  books_aggregate(distinct_on: $distinct_on, limit: $limit,\
                    \ offset: $offset, order_by: $order_by, where: $where) {\n    aggregate {\n    avg {\n    __typename\n\
                    \  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - activities_count
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_books_aggregate
              query_books_by_pk:
                summary: query books_by_pk
                description: 'fetch data from the table: "books" using primary key columns'
                value:
                  query: "query query_books_by_pk($id: Int!) {\n  books_by_pk(id: $id) {\n    id\n    title\n    slug\n  }\n\
                    }"
                  variables:
                    id: 1
                  operationName: query_books_by_pk
              query_books_trending:
                summary: query books_trending
                description: books_trending
                value:
                  query: "query query_books_trending($from: date!, $limit: Int!, $offset: Int!, $to: date!) {\n  books_trending(from:\
                    \ $from, limit: $limit, offset: $offset, to: $to) {\n    error\n    ids\n  }\n}"
                  variables:
                    from: '2025-01-01'
                    limit: 1
                    offset: 1
                    to: '2025-01-01'
                  operationName: query_books_trending
              query_characters:
                summary: query characters
                description: 'fetch data from the table: "characters"'
                value:
                  query: "query query_characters($distinct_on: [characters_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [characters_order_by!], $where: characters_bool_exp) {\n  characters(distinct_on: $distinct_on, limit:\
                    \ $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    name\n    slug\n  }\n}"
                  variables:
                    distinct_on:
                    - biography
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_characters
              query_characters_by_pk:
                summary: query characters_by_pk
                description: 'fetch data from the table: "characters" using primary key columns'
                value:
                  query: "query query_characters_by_pk($id: bigint!) {\n  characters_by_pk(id: $id) {\n    id\n    name\n\
                    \    slug\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_characters_by_pk
              query_collection_import_results:
                summary: query collection_import_results
                description: An array relationship
                value:
                  query: "query query_collection_import_results($distinct_on: [collection_import_results_select_column!],\
                    \ $limit: Int, $offset: Int, $order_by: [collection_import_results_order_by!], $where: collection_import_results_bool_exp)\
                    \ {\n  collection_import_results(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by:\
                    \ $order_by, where: $where) {\n    id\n    title\n    author\n  }\n}"
                  variables:
                    distinct_on:
                    - author
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_collection_import_results
              query_collection_import_results_by_pk:
                summary: query collection_import_results_by_pk
                description: 'fetch data from the table: "collection_import_results" using primary key columns'
                value:
                  query: "query query_collection_import_results_by_pk($id: Int!) {\n  collection_import_results_by_pk(id:\
                    \ $id) {\n    id\n    title\n    author\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_collection_import_results_by_pk
              query_collection_imports:
                summary: query collection_imports
                description: An array relationship
                value:
                  query: "query query_collection_imports($distinct_on: [collection_imports_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [collection_imports_order_by!], $where: collection_imports_bool_exp) {\n  collection_imports(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n\
                    \    updated_at\n  }\n}"
                  variables:
                    distinct_on:
                    - completed_at
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_collection_imports
              query_collection_imports_by_pk:
                summary: query collection_imports_by_pk
                description: 'fetch data from the table: "collection_imports" using primary key columns'
                value:
                  query: "query query_collection_imports_by_pk($id: Int!) {\n  collection_imports_by_pk(id: $id) {\n    id\n\
                    \    created_at\n    updated_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_collection_imports_by_pk
              query_contributions:
                summary: query contributions
                description: An array relationship
                value:
                  query: "query query_contributions($distinct_on: [contributions_select_column!], $limit: Int, $offset: Int,\
                    \ $order_by: [contributions_order_by!], $where: contributions_bool_exp) {\n  contributions(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n\
                    \    updated_at\n  }\n}"
                  variables:
                    distinct_on:
                    - author_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_contributions
              query_contributions_aggregate:
                summary: query contributions_aggregate
                description: An aggregate relationship
                value:
                  query: "query query_contributions_aggregate($distinct_on: [contributions_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [contributions_order_by!], $where: contributions_bool_exp) {\n  contributions_aggregate(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    aggregate {\n\
                    \    avg {\n    __typename\n  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - author_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_contributions_aggregate
              query_contributions_by_pk:
                summary: query contributions_by_pk
                description: 'fetch data from the table: "contributions" using primary key columns'
                value:
                  query: "query query_contributions_by_pk($id: bigint!) {\n  contributions_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    updated_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_contributions_by_pk
              query_countries:
                summary: query countries
                description: 'fetch data from the table: "countries"'
                value:
                  query: "query query_countries($distinct_on: [countries_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [countries_order_by!], $where: countries_bool_exp) {\n  countries(distinct_on: $distinct_on, limit:\
                    \ $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    name\n    created_at\n \
                    \ }\n}"
                  variables:
                    distinct_on:
                    - code2
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_countries
              query_countries_by_pk:
                summary: query countries_by_pk
                description: 'fetch data from the table: "countries" using primary key columns'
                value:
                  query: "query query_countries_by_pk($id: bigint!) {\n  countries_by_pk(id: $id) {\n    id\n    name\n  \
                    \  created_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_countries_by_pk
              query_editions:
                summary: query editions
                description: An array relationship
                value:
                  query: "query query_editions($distinct_on: [editions_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [editions_order_by!], $where: editions_bool_exp) {\n  editions(distinct_on: $distinct_on, limit: $limit,\
                    \ offset: $offset, order_by: $order_by, where: $where) {\n    id\n    title\n    created_at\n  }\n}"
                  variables:
                    distinct_on:
                    - alternative_titles
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_editions
              query_editions_by_pk:
                summary: query editions_by_pk
                description: 'fetch data from the table: "editions" using primary key columns'
                value:
                  query: "query query_editions_by_pk($id: Int!) {\n  editions_by_pk(id: $id) {\n    id\n    title\n    created_at\n\
                    \  }\n}"
                  variables:
                    id: 1
                  operationName: query_editions_by_pk
              query_flag_statuses:
                summary: query flag_statuses
                description: 'fetch data from the table: "flag_statuses"'
                value:
                  query: "query query_flag_statuses($distinct_on: [flag_statuses_select_column!], $limit: Int, $offset: Int,\
                    \ $order_by: [flag_statuses_order_by!], $where: flag_statuses_bool_exp) {\n  flag_statuses(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    status\n\
                    \  }\n}"
                  variables:
                    distinct_on:
                    - id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_flag_statuses
              query_flag_statuses_by_pk:
                summary: query flag_statuses_by_pk
                description: 'fetch data from the table: "flag_statuses" using primary key columns'
                value:
                  query: "query query_flag_statuses_by_pk($id: Int!) {\n  flag_statuses_by_pk(id: $id) {\n    id\n    status\n\
                    \  }\n}"
                  variables:
                    id: 1
                  operationName: query_flag_statuses_by_pk
              query_followed_lists:
                summary: query followed_lists
                description: An array relationship
                value:
                  query: "query query_followed_lists($distinct_on: [followed_lists_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [followed_lists_order_by!], $where: followed_lists_bool_exp) {\n  followed_lists(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n\
                    \    list_id\n  }\n}"
                  variables:
                    distinct_on:
                    - created_at
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_followed_lists
              query_followed_lists_by_pk:
                summary: query followed_lists_by_pk
                description: 'fetch data from the table: "followed_lists" using primary key columns'
                value:
                  query: "query query_followed_lists_by_pk($id: Int!) {\n  followed_lists_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    list_id\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_followed_lists_by_pk
              query_followed_prompts:
                summary: query followed_prompts
                description: An array relationship
                value:
                  query: "query query_followed_prompts($distinct_on: [followed_prompts_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [followed_prompts_order_by!], $where: followed_prompts_bool_exp) {\n  followed_prompts(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n\
                    \    order\n  }\n}"
                  variables:
                    distinct_on:
                    - created_at
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_followed_prompts
              query_followed_prompts_by_pk:
                summary: query followed_prompts_by_pk
                description: 'fetch data from the table: "followed_prompts" using primary key columns'
                value:
                  query: "query query_followed_prompts_by_pk($id: Int!) {\n  followed_prompts_by_pk(id: $id) {\n    id\n \
                    \   created_at\n    order\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_followed_prompts_by_pk
              query_followed_user_books:
                summary: query followed_user_books
                description: 'fetch data from the table: "followed_user_books"'
                value:
                  query: "query query_followed_user_books($distinct_on: [followed_user_books_select_column!], $limit: Int,\
                    \ $offset: Int, $order_by: [followed_user_books_order_by!], $where: followed_user_books_bool_exp) {\n\
                    \  followed_user_books(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by: $order_by,\
                    \ where: $where) {\n    book_id\n    follower_user_id\n    user_book_id\n  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - book:
                        id: asc
                    where:
                      _and:
                      - {}
                  operationName: query_followed_user_books
              query_followed_user_books_aggregate:
                summary: query followed_user_books_aggregate
                description: 'fetch aggregated fields from the table: "followed_user_books"'
                value:
                  query: "query query_followed_user_books_aggregate($distinct_on: [followed_user_books_select_column!], $limit:\
                    \ Int, $offset: Int, $order_by: [followed_user_books_order_by!], $where: followed_user_books_bool_exp)\
                    \ {\n  followed_user_books_aggregate(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by:\
                    \ $order_by, where: $where) {\n    aggregate {\n    avg {\n    __typename\n  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - book:
                        id: asc
                    where:
                      _and:
                      - {}
                  operationName: query_followed_user_books_aggregate
              query_followed_users:
                summary: query followed_users
                description: An array relationship
                value:
                  query: "query query_followed_users($distinct_on: [followed_users_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [followed_users_order_by!], $where: followed_users_bool_exp) {\n  followed_users(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n\
                    \    followed_user_id\n  }\n}"
                  variables:
                    distinct_on:
                    - created_at
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_followed_users
              query_followed_users_by_pk:
                summary: query followed_users_by_pk
                description: 'fetch data from the table: "followed_users" using primary key columns'
                value:
                  query: "query query_followed_users_by_pk($id: Int!) {\n  followed_users_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    followed_user_id\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_followed_users_by_pk
              query_following_user_books:
                summary: query following_user_books
                description: 'fetch data from the table: "following_user_books"'
                value:
                  query: "query query_following_user_books($distinct_on: [following_user_books_select_column!], $limit: Int,\
                    \ $offset: Int, $order_by: [following_user_books_order_by!], $where: following_user_books_bool_exp) {\n\
                    \  following_user_books(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by: $order_by,\
                    \ where: $where) {\n    book_id\n    followed_user_id\n    user_book_id\n  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - book:
                        id: asc
                    where:
                      _and:
                      - {}
                  operationName: query_following_user_books
              query_following_user_books_aggregate:
                summary: query following_user_books_aggregate
                description: 'fetch aggregated fields from the table: "following_user_books"'
                value:
                  query: "query query_following_user_books_aggregate($distinct_on: [following_user_books_select_column!],\
                    \ $limit: Int, $offset: Int, $order_by: [following_user_books_order_by!], $where: following_user_books_bool_exp)\
                    \ {\n  following_user_books_aggregate(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by:\
                    \ $order_by, where: $where) {\n    aggregate {\n    avg {\n    __typename\n  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - book:
                        id: asc
                    where:
                      _and:
                      - {}
                  operationName: query_following_user_books_aggregate
              query_follows:
                summary: query follows
                description: An array relationship
                value:
                  query: "query query_follows($distinct_on: [follows_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [follows_order_by!], $where: follows_bool_exp) {\n  follows(distinct_on: $distinct_on, limit: $limit,\
                    \ offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n    updated_at\n  }\n\
                    }"
                  variables:
                    distinct_on:
                    - created_at
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_follows
              query_follows_aggregate:
                summary: query follows_aggregate
                description: An aggregate relationship
                value:
                  query: "query query_follows_aggregate($distinct_on: [follows_select_column!], $limit: Int, $offset: Int,\
                    \ $order_by: [follows_order_by!], $where: follows_bool_exp) {\n  follows_aggregate(distinct_on: $distinct_on,\
                    \ limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    aggregate {\n    avg {\n\
                    \    __typename\n  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - created_at
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_follows_aggregate
              query_follows_by_pk:
                summary: query follows_by_pk
                description: 'fetch data from the table: "follows" using primary key columns'
                value:
                  query: "query query_follows_by_pk($id: bigint!) {\n  follows_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    updated_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_follows_by_pk
              query_goals:
                summary: query goals
                description: An array relationship
                value:
                  query: "query query_goals($distinct_on: [goals_select_column!], $limit: Int, $offset: Int, $order_by: [goals_order_by!],\
                    \ $where: goals_bool_exp) {\n  goals(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by:\
                    \ $order_by, where: $where) {\n    id\n    archived\n    completed_at\n  }\n}"
                  variables:
                    distinct_on:
                    - archived
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_goals
              query_goals_by_pk:
                summary: query goals_by_pk
                description: 'fetch data from the table: "goals" using primary key columns'
                value:
                  query: "query query_goals_by_pk($id: Int!) {\n  goals_by_pk(id: $id) {\n    id\n    archived\n    completed_at\n\
                    \  }\n}"
                  variables:
                    id: 1
                  operationName: query_goals_by_pk
              query_images:
                summary: query images
                description: An array relationship
                value:
                  query: "query query_images($distinct_on: [images_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [images_order_by!], $where: images_bool_exp) {\n  images(distinct_on: $distinct_on, limit: $limit, offset:\
                    \ $offset, order_by: $order_by, where: $where) {\n    id\n    color\n    height\n  }\n}"
                  variables:
                    distinct_on:
                    - color
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_images
              query_images_by_pk:
                summary: query images_by_pk
                description: 'fetch data from the table: "images" using primary key columns'
                value:
                  query: "query query_images_by_pk($id: bigint!) {\n  images_by_pk(id: $id) {\n    id\n    color\n    height\n\
                    \  }\n}"
                  variables:
                    id: 1
                  operationName: query_images_by_pk
              query_languages:
                summary: query languages
                description: 'fetch data from the table: "languages"'
                value:
                  query: "query query_languages($distinct_on: [languages_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [languages_order_by!], $where: languages_bool_exp) {\n  languages(distinct_on: $distinct_on, limit:\
                    \ $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    code2\n    code3\n  }\n}"
                  variables:
                    distinct_on:
                    - code2
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_languages
              query_languages_by_pk:
                summary: query languages_by_pk
                description: 'fetch data from the table: "languages" using primary key columns'
                value:
                  query: "query query_languages_by_pk($id: Int!) {\n  languages_by_pk(id: $id) {\n    id\n    code2\n    code3\n\
                    \  }\n}"
                  variables:
                    id: 1
                  operationName: query_languages_by_pk
              query_likes:
                summary: query likes
                description: An array relationship
                value:
                  query: "query query_likes($distinct_on: [likes_select_column!], $limit: Int, $offset: Int, $order_by: [likes_order_by!],\
                    \ $where: likes_bool_exp) {\n  likes(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by:\
                    \ $order_by, where: $where) {\n    id\n    created_at\n    likeable_id\n  }\n}"
                  variables:
                    distinct_on:
                    - created_at
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_likes
              query_likes_by_pk:
                summary: query likes_by_pk
                description: 'fetch data from the table: "likes" using primary key columns'
                value:
                  query: "query query_likes_by_pk($id: Int!) {\n  likes_by_pk(id: $id) {\n    id\n    created_at\n    likeable_id\n\
                    \  }\n}"
                  variables:
                    id: 1
                  operationName: query_likes_by_pk
              query_links:
                summary: query links
                description: 'fetch data from the table: "links"'
                value:
                  query: "query query_links($distinct_on: [links_select_column!], $limit: Int, $offset: Int, $order_by: [links_order_by!],\
                    \ $where: links_bool_exp) {\n  links(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by:\
                    \ $order_by, where: $where) {\n    id\n    username\n    created_at\n  }\n}"
                  variables:
                    distinct_on:
                    - created_at
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_links
              query_links_by_pk:
                summary: query links_by_pk
                description: 'fetch data from the table: "links" using primary key columns'
                value:
                  query: "query query_links_by_pk($id: bigint!) {\n  links_by_pk(id: $id) {\n    id\n    username\n    created_at\n\
                    \  }\n}"
                  variables:
                    id: 1
                  operationName: query_links_by_pk
              query_list_books:
                summary: query list_books
                description: An array relationship
                value:
                  query: "query query_list_books($distinct_on: [list_books_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [list_books_order_by!], $where: list_books_bool_exp) {\n  list_books(distinct_on: $distinct_on, limit:\
                    \ $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n    updated_at\n\
                    \  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_list_books
              query_list_books_aggregate:
                summary: query list_books_aggregate
                description: An aggregate relationship
                value:
                  query: "query query_list_books_aggregate($distinct_on: [list_books_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [list_books_order_by!], $where: list_books_bool_exp) {\n  list_books_aggregate(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    aggregate {\n\
                    \    avg {\n    __typename\n  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_list_books_aggregate
              query_list_books_by_pk:
                summary: query list_books_by_pk
                description: 'fetch data from the table: "list_books" using primary key columns'
                value:
                  query: "query query_list_books_by_pk($id: Int!) {\n  list_books_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    updated_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_list_books_by_pk
              query_lists:
                summary: query lists
                description: An array relationship
                value:
                  query: "query query_lists($distinct_on: [lists_select_column!], $limit: Int, $offset: Int, $order_by: [lists_order_by!],\
                    \ $where: lists_bool_exp) {\n  lists(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by:\
                    \ $order_by, where: $where) {\n    id\n    name\n    slug\n  }\n}"
                  variables:
                    distinct_on:
                    - books_count
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_lists
              query_lists_aggregate:
                summary: query lists_aggregate
                description: An aggregate relationship
                value:
                  query: "query query_lists_aggregate($distinct_on: [lists_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [lists_order_by!], $where: lists_bool_exp) {\n  lists_aggregate(distinct_on: $distinct_on, limit: $limit,\
                    \ offset: $offset, order_by: $order_by, where: $where) {\n    aggregate {\n    avg {\n    __typename\n\
                    \  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - books_count
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_lists_aggregate
              query_lists_by_pk:
                summary: query lists_by_pk
                description: 'fetch data from the table: "lists" using primary key columns'
                value:
                  query: "query query_lists_by_pk($id: Int!) {\n  lists_by_pk(id: $id) {\n    id\n    name\n    slug\n  }\n\
                    }"
                  variables:
                    id: 1
                  operationName: query_lists_by_pk
              query_me:
                summary: query me
                description: execute function "me" which returns "users"
                value:
                  query: "query query_me($distinct_on: [users_select_column!], $limit: Int, $offset: Int, $order_by: [users_order_by!],\
                    \ $where: users_bool_exp) {\n  me(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by:\
                    \ $order_by, where: $where) {\n    id\n    name\n    username\n  }\n}"
                  variables:
                    distinct_on:
                    - access_level
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_me
              query_newsletter:
                summary: query newsletter
                description: newsletter
                value:
                  query: "query query_newsletter {\n  newsletter {\n    subscribed\n  }\n}"
                  variables: {}
                  operationName: query_newsletter
              query_notification_channels:
                summary: query notification_channels
                description: 'fetch data from the table: "notification_channels"'
                value:
                  query: "query query_notification_channels($distinct_on: [notification_channels_select_column!], $limit:\
                    \ Int, $offset: Int, $order_by: [notification_channels_order_by!], $where: notification_channels_bool_exp)\
                    \ {\n  notification_channels(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by: $order_by,\
                    \ where: $where) {\n    id\n    channel\n  }\n}"
                  variables:
                    distinct_on:
                    - channel
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_notification_channels
              query_notification_channels_by_pk:
                summary: query notification_channels_by_pk
                description: 'fetch data from the table: "notification_channels" using primary key columns'
                value:
                  query: "query query_notification_channels_by_pk($id: bigint!) {\n  notification_channels_by_pk(id: $id)\
                    \ {\n    id\n    channel\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_notification_channels_by_pk
              query_notification_deliveries:
                summary: query notification_deliveries
                description: An array relationship
                value:
                  query: "query query_notification_deliveries($distinct_on: [notification_deliveries_select_column!], $limit:\
                    \ Int, $offset: Int, $order_by: [notification_deliveries_order_by!], $where: notification_deliveries_bool_exp)\
                    \ {\n  notification_deliveries(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by: $order_by,\
                    \ where: $where) {\n    id\n    channel_id\n    notification_id\n  }\n}"
                  variables:
                    distinct_on:
                    - channel_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_notification_deliveries
              query_notification_deliveries_aggregate:
                summary: query notification_deliveries_aggregate
                description: An aggregate relationship
                value:
                  query: "query query_notification_deliveries_aggregate($distinct_on: [notification_deliveries_select_column!],\
                    \ $limit: Int, $offset: Int, $order_by: [notification_deliveries_order_by!], $where: notification_deliveries_bool_exp)\
                    \ {\n  notification_deliveries_aggregate(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by:\
                    \ $order_by, where: $where) {\n    aggregate {\n    avg {\n    __typename\n  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - channel_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_notification_deliveries_aggregate
              query_notification_deliveries_by_pk:
                summary: query notification_deliveries_by_pk
                description: 'fetch data from the table: "notification_deliveries" using primary key columns'
                value:
                  query: "query query_notification_deliveries_by_pk($id: bigint!) {\n  notification_deliveries_by_pk(id: $id)\
                    \ {\n    id\n    channel_id\n    notification_id\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_notification_deliveries_by_pk
              query_notification_settings:
                summary: query notification_settings
                description: 'fetch data from the table: "notification_settings"'
                value:
                  query: "query query_notification_settings($distinct_on: [notification_settings_select_column!], $limit:\
                    \ Int, $offset: Int, $order_by: [notification_settings_order_by!], $where: notification_settings_bool_exp)\
                    \ {\n  notification_settings(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by: $order_by,\
                    \ where: $where) {\n    id\n    notification_type_id\n    user_id\n  }\n}"
                  variables:
                    distinct_on:
                    - channel_ids
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_notification_settings
              query_notification_settings_by_pk:
                summary: query notification_settings_by_pk
                description: 'fetch data from the table: "notification_settings" using primary key columns'
                value:
                  query: "query query_notification_settings_by_pk($id: bigint!) {\n  notification_settings_by_pk(id: $id)\
                    \ {\n    id\n    notification_type_id\n    user_id\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_notification_settings_by_pk
              query_notification_types:
                summary: query notification_types
                description: 'fetch data from the table: "notification_types"'
                value:
                  query: "query query_notification_types($distinct_on: [notification_types_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [notification_types_order_by!], $where: notification_types_bool_exp) {\n  notification_types(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    name\n\
                    \    active\n  }\n}"
                  variables:
                    distinct_on:
                    - active
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_notification_types
              query_notification_types_by_pk:
                summary: query notification_types_by_pk
                description: 'fetch data from the table: "notification_types" using primary key columns'
                value:
                  query: "query query_notification_types_by_pk($id: bigint!) {\n  notification_types_by_pk(id: $id) {\n  \
                    \  id\n    name\n    active\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_notification_types_by_pk
              query_notifications:
                summary: query notifications
                description: 'fetch data from the table: "notifications"'
                value:
                  query: "query query_notifications($distinct_on: [notifications_select_column!], $limit: Int, $offset: Int,\
                    \ $order_by: [notifications_order_by!], $where: notifications_bool_exp) {\n  notifications(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    title\n\
                    \    created_at\n  }\n}"
                  variables:
                    distinct_on:
                    - created_at
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_notifications
              query_notifications_by_pk:
                summary: query notifications_by_pk
                description: 'fetch data from the table: "notifications" using primary key columns'
                value:
                  query: "query query_notifications_by_pk($id: Int!) {\n  notifications_by_pk(id: $id) {\n    id\n    title\n\
                    \    created_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_notifications_by_pk
              query_platforms:
                summary: query platforms
                description: 'fetch data from the table: "platforms"'
                value:
                  query: "query query_platforms($distinct_on: [platforms_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [platforms_order_by!], $where: platforms_bool_exp) {\n  platforms(distinct_on: $distinct_on, limit:\
                    \ $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    name\n    url\n  }\n}"
                  variables:
                    distinct_on:
                    - id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_platforms
              query_platforms_by_pk:
                summary: query platforms_by_pk
                description: 'fetch data from the table: "platforms" using primary key columns'
                value:
                  query: "query query_platforms_by_pk($id: Int!) {\n  platforms_by_pk(id: $id) {\n    id\n    name\n    url\n\
                    \  }\n}"
                  variables:
                    id: 1
                  operationName: query_platforms_by_pk
              query_privacy_settings:
                summary: query privacy_settings
                description: 'fetch data from the table: "privacy_settings"'
                value:
                  query: "query query_privacy_settings($distinct_on: [privacy_settings_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [privacy_settings_order_by!], $where: privacy_settings_bool_exp) {\n  privacy_settings(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    setting\n\
                    \  }\n}"
                  variables:
                    distinct_on:
                    - id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_privacy_settings
              query_privacy_settings_by_pk:
                summary: query privacy_settings_by_pk
                description: 'fetch data from the table: "privacy_settings" using primary key columns'
                value:
                  query: "query query_privacy_settings_by_pk($id: Int!) {\n  privacy_settings_by_pk(id: $id) {\n    id\n \
                    \   setting\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_privacy_settings_by_pk
              query_prompt_answers:
                summary: query prompt_answers
                description: An array relationship
                value:
                  query: "query query_prompt_answers($distinct_on: [prompt_answers_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [prompt_answers_order_by!], $where: prompt_answers_bool_exp) {\n  prompt_answers(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n\
                    \    book_id\n  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_prompt_answers
              query_prompt_answers_aggregate:
                summary: query prompt_answers_aggregate
                description: An aggregate relationship
                value:
                  query: "query query_prompt_answers_aggregate($distinct_on: [prompt_answers_select_column!], $limit: Int,\
                    \ $offset: Int, $order_by: [prompt_answers_order_by!], $where: prompt_answers_bool_exp) {\n  prompt_answers_aggregate(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    aggregate {\n\
                    \    avg {\n    __typename\n  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_prompt_answers_aggregate
              query_prompt_answers_by_pk:
                summary: query prompt_answers_by_pk
                description: 'fetch data from the table: "prompt_answers" using primary key columns'
                value:
                  query: "query query_prompt_answers_by_pk($id: Int!) {\n  prompt_answers_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    book_id\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_prompt_answers_by_pk
              query_prompt_books_summary:
                summary: query prompt_books_summary
                description: 'fetch data from the table: "prompt_books_summary"'
                value:
                  query: "query query_prompt_books_summary($distinct_on: [prompt_books_summary_select_column!], $limit: Int,\
                    \ $offset: Int, $order_by: [prompt_books_summary_order_by!], $where: prompt_books_summary_bool_exp) {\n\
                    \  prompt_books_summary(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by: $order_by,\
                    \ where: $where) {\n    answers_count\n    book_id\n    prompt_id\n  }\n}"
                  variables:
                    distinct_on:
                    - answers_count
                    limit: 1
                    offset: 1
                    order_by:
                    - answers_count: asc
                    where:
                      _and:
                      - {}
                  operationName: query_prompt_books_summary
              query_prompts:
                summary: query prompts
                description: An array relationship
                value:
                  query: "query query_prompts($distinct_on: [prompts_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [prompts_order_by!], $where: prompts_bool_exp) {\n  prompts(distinct_on: $distinct_on, limit: $limit,\
                    \ offset: $offset, order_by: $order_by, where: $where) {\n    id\n    slug\n    created_at\n  }\n}"
                  variables:
                    distinct_on:
                    - answers_count
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_prompts
              query_prompts_by_pk:
                summary: query prompts_by_pk
                description: 'fetch data from the table: "prompts" using primary key columns'
                value:
                  query: "query query_prompts_by_pk($id: Int!) {\n  prompts_by_pk(id: $id) {\n    id\n    slug\n    created_at\n\
                    \  }\n}"
                  variables:
                    id: 1
                  operationName: query_prompts_by_pk
              query_publishers:
                summary: query publishers
                description: 'fetch data from the table: "publishers"'
                value:
                  query: "query query_publishers($distinct_on: [publishers_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [publishers_order_by!], $where: publishers_bool_exp) {\n  publishers(distinct_on: $distinct_on, limit:\
                    \ $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    name\n    slug\n  }\n}"
                  variables:
                    distinct_on:
                    - canonical_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_publishers
              query_publishers_by_pk:
                summary: query publishers_by_pk
                description: 'fetch data from the table: "publishers" using primary key columns'
                value:
                  query: "query query_publishers_by_pk($id: bigint!) {\n  publishers_by_pk(id: $id) {\n    id\n    name\n\
                    \    slug\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_publishers_by_pk
              query_reading_formats:
                summary: query reading_formats
                description: 'fetch data from the table: "reading_formats"'
                value:
                  query: "query query_reading_formats($distinct_on: [reading_formats_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [reading_formats_order_by!], $where: reading_formats_bool_exp) {\n  reading_formats(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    format\n\
                    \  }\n}"
                  variables:
                    distinct_on:
                    - format
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_reading_formats
              query_reading_formats_by_pk:
                summary: query reading_formats_by_pk
                description: 'fetch data from the table: "reading_formats" using primary key columns'
                value:
                  query: "query query_reading_formats_by_pk($id: Int!) {\n  reading_formats_by_pk(id: $id) {\n    id\n   \
                    \ format\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_reading_formats_by_pk
              query_reading_journals:
                summary: query reading_journals
                description: An array relationship
                value:
                  query: "query query_reading_journals($distinct_on: [reading_journals_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [reading_journals_order_by!], $where: reading_journals_bool_exp) {\n  reading_journals(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n\
                    \    updated_at\n  }\n}"
                  variables:
                    distinct_on:
                    - action_at
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_reading_journals
              query_reading_journals_by_pk:
                summary: query reading_journals_by_pk
                description: 'fetch data from the table: "reading_journals" using primary key columns'
                value:
                  query: "query query_reading_journals_by_pk($id: bigint!) {\n  reading_journals_by_pk(id: $id) {\n    id\n\
                    \    created_at\n    updated_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_reading_journals_by_pk
              query_reading_journals_summary:
                summary: query reading_journals_summary
                description: 'fetch data from the table: "reading_journals_summary"'
                value:
                  query: "query query_reading_journals_summary($distinct_on: [reading_journals_summary_select_column!], $limit:\
                    \ Int, $offset: Int, $order_by: [reading_journals_summary_order_by!], $where: reading_journals_summary_bool_exp)\
                    \ {\n  reading_journals_summary(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by: $order_by,\
                    \ where: $where) {\n    book_id\n    journals_count\n    last_updated_at\n  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - book:
                        id: asc
                    where:
                      _and:
                      - {}
                  operationName: query_reading_journals_summary
              query_referrals_for_user:
                summary: query referrals_for_user
                description: referrals_for_user
                value:
                  query: "query query_referrals_for_user($end_date: date, $limit: Int!, $start_date: date, $user_id: Int!)\
                    \ {\n  referrals_for_user(end_date: $end_date, limit: $limit, start_date: $start_date, user_id: $user_id)\
                    \ {\n    book_id\n    count\n  }\n}"
                  variables:
                    end_date: '2025-01-01'
                    limit: 1
                    start_date: '2025-01-01'
                    user_id: 1
                  operationName: query_referrals_for_user
              query_search:
                summary: query search
                value:
                  query: "query query_search($fields: String, $page: Int, $per_page: Int, $query: String!, $query_type: String,\
                    \ $sort: String, $weights: String) {\n  search(fields: $fields, page: $page, per_page: $per_page, query:\
                    \ $query, query_type: $query_type, sort: $sort, weights: $weights) {\n    error\n    ids\n    page\n \
                    \ }\n}"
                  variables:
                    fields: sample
                    page: 1
                    per_page: 1
                    query: sample
                    query_type: sample
                    sort: sample
                    weights: sample
                  operationName: query_search
              query_series:
                summary: query series
                description: 'fetch data from the table: "series"'
                value:
                  query: "query query_series($distinct_on: [series_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [series_order_by!], $where: series_bool_exp) {\n  series(distinct_on: $distinct_on, limit: $limit, offset:\
                    \ $offset, order_by: $order_by, where: $where) {\n    id\n    name\n    slug\n  }\n}"
                  variables:
                    distinct_on:
                    - author_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_series
              query_series_by_pk:
                summary: query series_by_pk
                description: 'fetch data from the table: "series" using primary key columns'
                value:
                  query: "query query_series_by_pk($id: Int!) {\n  series_by_pk(id: $id) {\n    id\n    name\n    slug\n \
                    \ }\n}"
                  variables:
                    id: 1
                  operationName: query_series_by_pk
              query_subscriptions:
                summary: query subscriptions
                description: subscriptions
                value:
                  query: "query query_subscriptions($default_payment_system_id: Int!) {\n  subscriptions(default_payment_system_id:\
                    \ $default_payment_system_id) {\n    billing_portal_url\n    membership\n    membership_ends_at\n  }\n\
                    }"
                  variables:
                    default_payment_system_id: 1
                  operationName: query_subscriptions
              query_tag_categories:
                summary: query tag_categories
                description: 'fetch data from the table: "tag_categories"'
                value:
                  query: "query query_tag_categories($distinct_on: [tag_categories_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [tag_categories_order_by!], $where: tag_categories_bool_exp) {\n  tag_categories(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    slug\n\
                    \    created_at\n  }\n}"
                  variables:
                    distinct_on:
                    - category
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_tag_categories
              query_tag_categories_by_pk:
                summary: query tag_categories_by_pk
                description: 'fetch data from the table: "tag_categories" using primary key columns'
                value:
                  query: "query query_tag_categories_by_pk($id: bigint!) {\n  tag_categories_by_pk(id: $id) {\n    id\n  \
                    \  slug\n    created_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_tag_categories_by_pk
              query_taggable_counts:
                summary: query taggable_counts
                description: An array relationship
                value:
                  query: "query query_taggable_counts($distinct_on: [taggable_counts_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [taggable_counts_order_by!], $where: taggable_counts_bool_exp) {\n  taggable_counts(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n\
                    \    updated_at\n  }\n}"
                  variables:
                    distinct_on:
                    - count
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_taggable_counts
              query_taggable_counts_by_pk:
                summary: query taggable_counts_by_pk
                description: 'fetch data from the table: "taggable_counts" using primary key columns'
                value:
                  query: "query query_taggable_counts_by_pk($id: bigint!) {\n  taggable_counts_by_pk(id: $id) {\n    id\n\
                    \    created_at\n    updated_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_taggable_counts_by_pk
              query_taggings:
                summary: query taggings
                description: An array relationship
                value:
                  query: "query query_taggings($distinct_on: [taggings_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [taggings_order_by!], $where: taggings_bool_exp) {\n  taggings(distinct_on: $distinct_on, limit: $limit,\
                    \ offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n    spoiler\n  }\n}"
                  variables:
                    distinct_on:
                    - created_at
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_taggings
              query_taggings_aggregate:
                summary: query taggings_aggregate
                description: An aggregate relationship
                value:
                  query: "query query_taggings_aggregate($distinct_on: [taggings_select_column!], $limit: Int, $offset: Int,\
                    \ $order_by: [taggings_order_by!], $where: taggings_bool_exp) {\n  taggings_aggregate(distinct_on: $distinct_on,\
                    \ limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    aggregate {\n    avg {\n\
                    \    __typename\n  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - created_at
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_taggings_aggregate
              query_taggings_by_pk:
                summary: query taggings_by_pk
                description: 'fetch data from the table: "taggings" using primary key columns'
                value:
                  query: "query query_taggings_by_pk($id: bigint!) {\n  taggings_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    spoiler\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_taggings_by_pk
              query_tags:
                summary: query tags
                description: An array relationship
                value:
                  query: "query query_tags($distinct_on: [tags_select_column!], $limit: Int, $offset: Int, $order_by: [tags_order_by!],\
                    \ $where: tags_bool_exp) {\n  tags(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by:\
                    \ $order_by, where: $where) {\n    id\n    slug\n    count\n  }\n}"
                  variables:
                    distinct_on:
                    - count
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_tags
              query_tags_aggregate:
                summary: query tags_aggregate
                description: An aggregate relationship
                value:
                  query: "query query_tags_aggregate($distinct_on: [tags_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [tags_order_by!], $where: tags_bool_exp) {\n  tags_aggregate(distinct_on: $distinct_on, limit: $limit,\
                    \ offset: $offset, order_by: $order_by, where: $where) {\n    aggregate {\n    avg {\n    __typename\n\
                    \  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - count
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_tags_aggregate
              query_tags_by_pk:
                summary: query tags_by_pk
                description: 'fetch data from the table: "tags" using primary key columns'
                value:
                  query: "query query_tags_by_pk($id: bigint!) {\n  tags_by_pk(id: $id) {\n    id\n    slug\n    count\n \
                    \ }\n}"
                  variables:
                    id: 1
                  operationName: query_tags_by_pk
              query_user_blocks:
                summary: query user_blocks
                description: 'fetch data from the table: "user_blocks"'
                value:
                  query: "query query_user_blocks($distinct_on: [user_blocks_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [user_blocks_order_by!], $where: user_blocks_bool_exp) {\n  user_blocks(distinct_on: $distinct_on, limit:\
                    \ $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n    blocked_user_id\n\
                    \  }\n}"
                  variables:
                    distinct_on:
                    - blocked_user_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_user_blocks
              query_user_blocks_by_pk:
                summary: query user_blocks_by_pk
                description: 'fetch data from the table: "user_blocks" using primary key columns'
                value:
                  query: "query query_user_blocks_by_pk($id: bigint!) {\n  user_blocks_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    blocked_user_id\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_user_blocks_by_pk
              query_user_book_reads:
                summary: query user_book_reads
                description: An array relationship
                value:
                  query: "query query_user_book_reads($distinct_on: [user_book_reads_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [user_book_reads_order_by!], $where: user_book_reads_bool_exp) {\n  user_book_reads(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    edition_id\n\
                    \    finished_at\n  }\n}"
                  variables:
                    distinct_on:
                    - edition_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_user_book_reads
              query_user_book_reads_aggregate:
                summary: query user_book_reads_aggregate
                description: An aggregate relationship
                value:
                  query: "query query_user_book_reads_aggregate($distinct_on: [user_book_reads_select_column!], $limit: Int,\
                    \ $offset: Int, $order_by: [user_book_reads_order_by!], $where: user_book_reads_bool_exp) {\n  user_book_reads_aggregate(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    aggregate {\n\
                    \    avg {\n    __typename\n  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - edition_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_user_book_reads_aggregate
              query_user_book_reads_by_pk:
                summary: query user_book_reads_by_pk
                description: 'fetch data from the table: "user_book_reads" using primary key columns'
                value:
                  query: "query query_user_book_reads_by_pk($id: Int!) {\n  user_book_reads_by_pk(id: $id) {\n    id\n   \
                    \ edition_id\n    finished_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_user_book_reads_by_pk
              query_user_book_statuses:
                summary: query user_book_statuses
                description: 'fetch data from the table: "user_book_statuses"'
                value:
                  query: "query query_user_book_statuses($distinct_on: [user_book_statuses_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [user_book_statuses_order_by!], $where: user_book_statuses_bool_exp) {\n  user_book_statuses(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    slug\n\
                    \    description\n  }\n}"
                  variables:
                    distinct_on:
                    - description
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_user_book_statuses
              query_user_book_statuses_aggregate:
                summary: query user_book_statuses_aggregate
                description: 'fetch aggregated fields from the table: "user_book_statuses"'
                value:
                  query: "query query_user_book_statuses_aggregate($distinct_on: [user_book_statuses_select_column!], $limit:\
                    \ Int, $offset: Int, $order_by: [user_book_statuses_order_by!], $where: user_book_statuses_bool_exp) {\n\
                    \  user_book_statuses_aggregate(distinct_on: $distinct_on, limit: $limit, offset: $offset, order_by: $order_by,\
                    \ where: $where) {\n    aggregate {\n    avg {\n    __typename\n  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - description
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_user_book_statuses_aggregate
              query_user_book_statuses_by_pk:
                summary: query user_book_statuses_by_pk
                description: 'fetch data from the table: "user_book_statuses" using primary key columns'
                value:
                  query: "query query_user_book_statuses_by_pk($id: Int!) {\n  user_book_statuses_by_pk(id: $id) {\n    id\n\
                    \    slug\n    description\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_user_book_statuses_by_pk
              query_user_books:
                summary: query user_books
                description: An array relationship
                value:
                  query: "query query_user_books($distinct_on: [user_books_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [user_books_order_by!], $where: user_books_bool_exp) {\n  user_books(distinct_on: $distinct_on, limit:\
                    \ $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n    updated_at\n\
                    \  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_user_books
              query_user_books_aggregate:
                summary: query user_books_aggregate
                description: An aggregate relationship
                value:
                  query: "query query_user_books_aggregate($distinct_on: [user_books_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [user_books_order_by!], $where: user_books_bool_exp) {\n  user_books_aggregate(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    aggregate {\n\
                    \    avg {\n    __typename\n  }\n  }\n  }\n}"
                  variables:
                    distinct_on:
                    - book_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_user_books_aggregate
              query_user_books_by_pk:
                summary: query user_books_by_pk
                description: 'fetch data from the table: "user_books" using primary key columns'
                value:
                  query: "query query_user_books_by_pk($id: Int!) {\n  user_books_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    updated_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_user_books_by_pk
              query_user_flags:
                summary: query user_flags
                description: An array relationship
                value:
                  query: "query query_user_flags($distinct_on: [user_flags_select_column!], $limit: Int, $offset: Int, $order_by:\
                    \ [user_flags_order_by!], $where: user_flags_bool_exp) {\n  user_flags(distinct_on: $distinct_on, limit:\
                    \ $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n    action_id\n\
                    \  }\n}"
                  variables:
                    distinct_on:
                    - action_id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_user_flags
              query_user_flags_by_pk:
                summary: query user_flags_by_pk
                description: 'fetch data from the table: "user_flags" using primary key columns'
                value:
                  query: "query query_user_flags_by_pk($id: Int!) {\n  user_flags_by_pk(id: $id) {\n    id\n    created_at\n\
                    \    action_id\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_user_flags_by_pk
              query_user_referrals:
                summary: query user_referrals
                description: 'fetch data from the table: "user_referrals"'
                value:
                  query: "query query_user_referrals($distinct_on: [user_referrals_select_column!], $limit: Int, $offset:\
                    \ Int, $order_by: [user_referrals_order_by!], $where: user_referrals_bool_exp) {\n  user_referrals(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    created_at\n\
                    \    updated_at\n  }\n}"
                  variables:
                    distinct_on:
                    - created_at
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_user_referrals
              query_user_referrals_by_pk:
                summary: query user_referrals_by_pk
                description: 'fetch data from the table: "user_referrals" using primary key columns'
                value:
                  query: "query query_user_referrals_by_pk($id: bigint!) {\n  user_referrals_by_pk(id: $id) {\n    id\n  \
                    \  created_at\n    updated_at\n  }\n}"
                  variables:
                    id: 1
                  operationName: query_user_referrals_by_pk
              query_user_statuses:
                summary: query user_statuses
                description: 'fetch data from the table: "user_statuses"'
                value:
                  query: "query query_user_statuses($distinct_on: [user_statuses_select_column!], $limit: Int, $offset: Int,\
                    \ $order_by: [user_statuses_order_by!], $where: user_statuses_bool_exp) {\n  user_statuses(distinct_on:\
                    \ $distinct_on, limit: $limit, offset: $offset, order_by: $order_by, where: $where) {\n    id\n    status\n\
                    \  }\n}"
                  variables:
                    distinct_on:
                    - id
                    limit: 1
                    offset: 1
                    order_by:
                    - id: asc
                    where:
                      id:
                        _eq: 1
                  operationName: query_user_statuses
              query_user_statuses_by_pk:
                summary: query user_statuses_by_pk
                description: 'fetch data from the table: "user_statuses" using primary key columns'
                value:
                  query: "query query_user_statuses_by_pk($id: Int!) {\n  user_statuses_by_pk(id: $id) {\n    id\n    status\n\
                    \  }\n}"
[...]
